<Alloy>
	<Window title="Einstellungen">
		<ListView class="listView" onItemclick="performAction" defaultItemTemplate="Ti.UI.LIST_ITEM_TEMPLATE_DEFAULT">
			<ListSection>
				<ListItem title="Impressum" itemId="imprint" />
				<ListItem title="Bewertung abgeben" itemId="rateApp" />
				<ListItem title="Fehler melden" itemId="reportError" />
			</ListSection>
		</ListView>
	</Window>
</Alloy>
